@media screen and (max-width: 600px) {
    .chat-window-users {
        display: none;
    }
    .chat-window-messages {
        margin-left: 0px !important;
        width: 100% !important;
        border-top-left-radius: 10px;
    }
    .chat-window-controls {
        margin-left: 0px !important;
        border-bottom-left-radius: 10px;
    }
    .text.chat {
        width: 80% !important;
    }
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  
}

.app-header {
    text-align: center;
    background-color: #222;
    padding: 5px 0px 5px 0px;
    color: white;
    margin-right: auto;
    margin-left: auto;
    height: 50px;
}

.app-header a {
    color: #ececec
}

.app-header h1 {
    float: left;
    margin: 10px;
}

.app-header #login {
    float: right;
    margin-right: 10px;
    margin-top: 30px;
}

.app-content {
    margin: 20px auto 20px auto;
    max-width: 800px;
    max-height: 600px;
}

.chat-join {
    text-align: center;
    width: 400px;
    margin: auto;
}

.chat-window {
    position: relative;
    background-color: #ececec;
    border: 2px solid #ececec;
    border-radius: 10px;
}

.chat-window-users {
    position: absolute;
    padding: 5px 10px 5px 10px;
    width: 22%;
    height: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chat-window-user-controls{
    position: absolute;
    top: 90%;
    padding: 5px 10px 5px 10px;
    margin-left: 6%;
    margin-right: 6%;
}

.chat-window-users ul {
    list-style: none;
    padding: 0px 15px 0px 0px;
    overflow-x: hidden;
    overflow-y: auto;
}

.user {
    border: none;
    padding: 5px 0px 0px 0px;
    text-decoration: none;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.chat-window-messages {
    margin-left: 25%;
    width: 75%;
    height: 400px;
    padding-top: 5px;
    border-top-right-radius: 7px;
    background-color: #fff;
    overflow: hidden;
}

.chat-window-messages ul {
    list-style: none;
    padding: 0px 5px 0px 5px;
    margin: 0px -20px 0px 0px;
    height: 99%;
    width: 97%;
    overflow-y: auto;
    overflow-x: hidden;
}

.message-sent {
    padding: 0px 20px 0px 20px;
    margin: 5px 5px 5px 5px;
    border-radius: 15px;
    background-color: #ececec;
    color: black;
    word-wrap: break-word;
    max-width: 50%;
    font-weight: 100;
}

.message-received {
    padding: 0px 20px 0px 20px;
    margin: 5px 5px 5px 50%;
    border-radius: 15px;
    background-color: dodgerblue;
    color: white;
    word-wrap: break-word;
    max-width: 50%;
    font-weight: 100;
}

.chat-window-controls {
    margin-left: 25%;
    border-bottom-right-radius: 10px;
    background-color: #fff;
    padding: 20px;
}

.chat-input {
    border: 2px solid #ececec;
    border-radius: 10px;
    margin: 2px;
    padding: 10px;
}

.text {
    background-color: transparent;
    border: 0px solid;
    font-weight: 200;
    font-size: 16px;
}

.text:focus {
    outline: none;
}

.text.chat {
    height: 20px;
    width: 90%;
}

.text.join {
    width: 80%;
    height: 20px;
}

.btn {
    background-color: #9c9c9c;
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}